@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --main-color: #11101e;
  --secondary-color: #23213b;
  --default-margin: 15px 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  position: relative;
  background: var(--main-color, #11101e);
}

header,
section,
footer {
  background: var(--secondary-color, #23213b);
  margin: var(--default-margin);
  border-radius: 12px;
  padding: 15px;
}

header {
  padding: 30px 10%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  font-size: 1.5em;
  padding: 15px;
  background: var(--secondary-color, #23213b);
  border-radius: 12px;
  text-decoration: none;
  transition: background 0.5s ease;
}

.nav-list a:hover {
  background: #fff;
}

.nav-list .links-name,
.nav-list i {
  transition: color 0.5s ease;
}

.nav-list a:hover .links-name,
.nav-list a:hover i {
  color: var(--secondary-color, #23213b);
}

.img-name-bio {
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
}

.img-name-bio img {
  width: 300px;
  border-radius: 50%;
}

.img-name-bio .name-bio {
  align-self: center;
  text-align: end;
}

.name-bio h1 {
  font-size: 3em;
}

.education,
.work-exp,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
}

.education ul {
  list-style-position:inside;
  text-align: center;
}

@media all and (max-width: 619px) {
  .links-name {
    display: none;
  }

  .nav-list a {
    font-size: 2em;
  }
}

@media all and (max-width: 600px) {
  #img-name-bio {
    flex-direction: column;
    align-items: center;
  }

  .img-name-bio .name-bio {
    text-align: center;
  }

}
