@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --main-dark-color: hsl(245, 30%, 9%);
  --secondary-dark-color: hsl(245, 30%, 18%);
  --main-light-color: hsl(245, 30%, 91%);
  --secondary-light-color: hsl(245, 30%, 82%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*.dark {
  color: #fff;
}

*.light {
  color: var(--main-dark-color, hsl(245, 30%, 9%));
}

body {
  transition: all 0.5s ease;
}

body.dark {
  background: var(--main-dark-color, hsl(245, 30%, 9%));
}

body.light {
  background: var(--main-light-color, hsl(245, 30%, 91%));
}

header,
section,
footer {
  margin: 15px 20px;
  padding: 15px 0;
  border-radius: 12px;
  transition: all 0.5s ease;
}

header.dark,
section.dark,
footer.dark {
  background: var(--secondary-dark-color, hsl(245, 30%, 18%));
}

header.light,
section.light,
footer.light {
  background: var(--secondary-light-color, hsl(245, 30%, 82%));
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

li {
  list-style-position: inside;
}

table {
  text-align: center;
}

td,
th {
  transition: all 0.5s ease;
}

td.dark,
th.dark {
  border: 1px solid var(--main-light-color, hsl(245, 30%, 91%));
}

td.light,
th.light {
  border: 1px solid var(--main-dark-color, hsl(245, 30%, 9%));
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 83px;
  margin: 0;
  transition: all 0.5s ease;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  font-size: 1.5em;
  padding: 15px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-list a.dark {
  background: var(--main-dark-color, hsl(245, 30%, 9%));
}
.nav-list a.light {
  background: var(--main-light-color, hsl(245, 30%, 91%));
}

.wrap-multiple {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.wrap-one-element {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-name-bio img {
  width: 325px;
  border-radius: 50%;
}

.img-name-bio .name-bio {
  text-align: end;
}

.img-name-bio .name {
  font-size: 3em;
}

@media (max-width: 950px) {
  .wrap-multiple {
    flex-direction: column;
  }

  .img-name-bio .name-bio {
    text-align: center;
  }
}

@media (max-width: 414px) {
  .img-name-bio img {
    width: 200px;
  }

  .nav-list .links-name {
    display: none;
  }
}

