@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --main-dark-color: hsl(245, 30%, 9%);
  --secondary-dark-color: hsl(245, 30%, 18%);
  --main-light-color: hsl(245, 30%, 91%);
  --secondary-light-color: hsl(245, 30%, 82%);
}

* {
  font-family: "Noto Sans", sans-serif;
}

*.dark {
  color: #fff;
}

*.light {
  color: var(--main-dark-color, hsl(245, 30%, 9%));
}

body {
  padding: 15px 20px;
  transition: all 0.5s ease;
}

body.dark {
  background: var(--main-dark-color, hsl(245, 30%, 9%));
}

body.light {
  background: var(--main-light-color, hsl(245, 30%, 91%));
}

header,
section,
footer {
  margin-bottom: 15px;
  border-radius: 12px;
  transition: all 0.5s ease;
}

header.dark,
section.dark,
footer.dark {
  background: var(--secondary-dark-color, hsl(245, 30%, 18%));
}

header.light,
section.light,
footer.light {
  background: var(--secondary-light-color, hsl(245, 30%, 82%));
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 83px;
  margin: 0;
  transition: all 0.5s ease;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  font-size: 1.5em;
  padding: 15px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-list a.dark {
  background: var(--main-dark-color, hsl(245, 30%, 9%));
}
.nav-list a.light {
  background: var(--main-light-color, hsl(245, 30%, 91%));
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-content: space-between;
  align-items: center;
}
